@(id: Long, objForm: Form[(Workflow)])(implicit request: AuthenticatedRequest)

@import helper._
@import helper.bootstrap._

@main(Messages("admin.workflow.edit")) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.User.index()">@Messages("admin.workflow.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@Messages("admin.workflow.with.id", "XXX")</li>
</ul>
<h1>@Messages("admin.workflow.edit")</h1>
@helper.form(action = controllers.admin.routes.Workflow.update(id)) {
 <fieldset>
  @helper.inputText(objForm("name"), '_label -> Messages("workflow.name"))
  @helper.inputText(objForm("description"), '_label -> Messages("workflow.description"))
  <div class="form-actions">
   <a href="@controllers.admin.routes.Workflow.index()" class="btn"><i class="icon-remove"></i> @Messages("form.cancel")</a>
   <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
  </div>
 </fieldset>
}
}