@(workflow: models.Workflow, statuses: Seq[models.WorkflowStatus])(implicit request: Request[AnyContent])
@main(Messages("admin.workflow.with.id", workflow.name)) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.Workflow.index(page = 0, count = 10)">@Messages("admin.workflow.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@Messages(workflow.name)</li>
</ul>
<ul>
 @statuses.map { item =>
   <li>@Messages(item.name)</li>
 }
</ul>
}