@(workflow: models.Workflow, statuses: Seq[models.WorkflowStatus])(implicit request: Request[AnyContent])
@main(Messages("admin.workflow.with.id", workflow.name)) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.Workflow.index()">@Messages("admin.workflow.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@Messages(workflow.name)</li>
</ul>
<div class="btn-group btn-group-above-table pull-right">
 <a href="@controllers.admin.routes.Workflow.edit(workflow.id.get)" class="btn"><i class="icon-edit"></i> @Messages("admin.workflow.edit")</a>
</div>
<h1>@Messages("admin.workflow.with.id", Messages(workflow.name))</h1>
<div class="well" style="clear: both">
 <ul class="bordered unstyled">
 @statuses.map { item =>
  <li>@Messages(item.name)</li>
 }
 </ul>
</div>
}