@(id: Long, workflow: models.Workflow, statuses: Seq[models.WorkflowStatus], unused: Seq[models.TicketStatus])(implicit request: AuthenticatedRequest)
@main(Messages("admin.workflow.with.id", workflow.name)) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.Workflow.index()">@Messages("admin.workflow.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@Messages(workflow.name)</li>
</ul>
<p>@Messages("admin.workflow.modify.help")</p>
@helper.form(action = controllers.admin.routes.Workflow.save(id)) {
<div class="row" id="modify-workflow">
 <div class="span3">
  <h2>@Messages("admin.workflow.modify.available")</h2>
  <ul class="bordered unstyled well" id="workflow-notinuse">
  @unused.map { item =>
   <li><input type="hidden" name="@item.id" value="@item.id">@Messages(item.name) <button class="pull-right fire adder btn btn-mini"><i class="icon-arrow-right"></i></button></li>
  }
  </ul>
 </div>
 <div class="span9">
  <h2>@Messages("admin.workflow.modify.final")</h2>
  <ul class="bordered unstyled well" id="workflow-inuse">
  @statuses.map { item =>
   <li data-name="@Messages(item.name)">
    <input type="hidden" name="statusId" value="@item.statusId">
    <div class="btn-group" style="display: inline; padding: 0; margin: 0">
     <button class="btn btn-mini fire upper"><i class="icon-arrow-up"></i></button>
     <button class="btn btn-mini fire downer"><i class="icon-arrow-down"></i></button>
    </div>
    @Messages(item.name)
    <button class="btn btn-mini btn-danger pull-right fire remover"><i class="icon-remove icon-white"></i></button>
   </li>
  }
  </ul>
 </div>
</div>
<div class="form-actions">
 <a href="@controllers.admin.routes.Workflow.index()" class="btn"><i class="icon-remove"></i> @Messages("form.cancel")</a>
 <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
</div>
}
<script id="unused-item" type="text/x-handlebars-template">
<li data-name="{{status_name}}"><input type="hidden" name="status_id" value="{{status_id}}">{{status_name}} <button class="pull-right fire adder btn btn-mini"><i class="icon-arrow-right"></i></button></li>
</script>
<script id="used-item" type="text/x-handlebars-template">
<li data-name="{{status_name}}">
  <input type="hidden" name="statusId" value="{{status_id}}">
  <div class="btn-group" style="display: inline; padding: 0; margin: 0">
    <button class="btn btn-mini fire upper"><i class="icon-arrow-up"></i></button>
    <button class="btn btn-mini fire downer"><i class="icon-arrow-down"></i></button>
  </div>
  {{status_name}}
  <button class="btn btn-mini btn-danger pull-right fire remover"><i class="icon-remove icon-white"></i></button>
</li>
</script>
}
