@(objForm: Form[LoginUser])(implicit request: Request[AnyContent])

@import helper._
@import helper.bootstrap._

@bare("Home") {

  @helper.form(action = controllers.routes.Auth.doLogin) {
   <fieldset>
    @helper.inputText(objForm("username"), '_label -> Messages("general.username"))
    @helper.inputPassword(objForm("password"), '_label -> Messages("general.password"))
    <div class="form-actions">
     <a href="@routes.Admin.index" class="btn"><i class="icon-remove"></i> @Messages("form.cancel")</a>
     <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
    </div>
   </fieldset>
  }
}