@(results: chc.Page[org.elasticsearch.search.SearchHit], filters: Map[String,Seq[String]], facets: scala.collection.mutable.Buffer[org.elasticsearch.search.facet.terms.strings.InternalStringTermsFacet])(implicit request: Request[AnyContent])

@import chc._
@import util._

@main(Messages("search.results")) {
<div class="row-fluid">
 <div class="span2">
  <ul class="nav nav-list well search-well">
	@filters.map { key =>
	 <li class="filter"><a style="text-align: left" class="btn btn-mini" href="@Library.filterLink(request, key._1, "")">@Messages("search.facet.filter." + key._1, Messages(key._2(0)))<i class="icon-remove-circle icon-white"></i></a></li>
	}
  @if(facets.size > 0) {
  @facets.map { facet =>
   <li class="nav-header">@Messages("search.facet." + facet.getName)</li>
   @facet.entries.map { entry =>
   <li><a href="@Library.filterLink(request, facet.getName, entry.getTerm)">@Messages(entry.getTerm) <span class="badge">@entry.getCount</span></a></li>
   }
  }
  </ul>
  } else {
   <h5>@Messages("search.facet.none")</h5>
  }
 </div>
 <div class="span10">
  <table class="table table-bordered table-rounded table-striped ticket-search">
   <thead>
    <th>@Messages("ticket.ticket")</th>
    <th>@Messages("ticket.summary")</th>
    <th>@Messages("general.actions")</th>
   </thead>
   <tbody>
    @results.items.map { hit =>
    <tr>
     <td style="width: 10%"><a href="@controllers.routes.Ticket.item(hit.getId)"><span class="label" style="background-color: #@hit.getSource.get("type_color")">@Messages("ticket.type.with.id", Messages(hit.getSource.get("type_name").asInstanceOf[String]), hit.id)</span></a</td>
     <td style="width: 80%"><a href="@controllers.routes.Ticket.item(hit.getId)">@hit.getSource.get("summary")</a></td>
     <td style="width: 10%" class="actions">
      <div class="btn-toolbar">
       <div class="btn-group">
        <a class="btn btn-mini" href="@routes.Ticket.edit(hit.getId)"><i class="icon-edit"></i> @Messages("general.edit")</a>
       </div>
      </div>
     </td>
    </tr>
    }
   </tbody>
   <tfoot>
    <tr>
     <td colspan="3">
       @pager(results)
      </td>
     </tr>
   </tfoot
  </table>
</div>
}
