@(results: chc.Page[org.elasticsearch.search.SearchHit], facets: scala.collection.mutable.Buffer[org.elasticsearch.search.facet.terms.strings.InternalStringTermsFacet])(implicit request: Request[AnyContent])

@import util._

@main(Messages("search.results")) {
  XXX do something with empty
<div class="row-fluid">
 <div class="span2">
  <ul class="nav nav-list well">
    @facets.map { facet =>
      <li class="nav-header">@Messages(facet.getName)</li>
      @facet.entries.map { entry =>
        <li><a href="#">@Messages(entry.getTerm) <span class="badge">@entry.getCount</span></a></li>
      }
    }
  </ul>
 </div>
 <div class="span10">
  <table class="table table-bordered table-rounded table-striped">
   <thead>
    <th>@Messages("ticket.summary")</th>
    <th>@Messages("general.actions")</th>
   </thead>
   <tbody>
    @results.items.map { hit =>
    <tr>
     <td><a href="@controllers.routes.Ticket.item(hit.getId.toLong)">@hit.field("summary").getValue.toString</a></td>
     <td class="actions">
      <div class="btn-toolbar">
       <div class="btn-group">
        <a class="btn btn-mini" href="@routes.Ticket.edit(hit.getId.toLong)"><i class="icon-edit"></i> @Messages("general.edit")</a>
       </div>
      </div>
     </td>
    </tr>
    }
   </tbody>
   <tfoot>
    <tr>
     <td colspan="4">
       @pager(results)
      </td>
     </tr>
   </tfoot
  </table>
</div>
}
