@(implicit request: Request[AnyContent])

@main(Messages("admin.title")) {
<div class="well">
<div class="row-fluid">
 <div class="span6">
  <ul class="nav nav-list">
   <li class="nav-header"><i class="icon-user"></i> @Messages("admin.people")</li>
   <li><a href="@controllers.admin.routes.Group.index()">@Messages("admin.group.menu.list")</a></li>
   <li><a href="@controllers.admin.routes.User.index()">@Messages("admin.user.menu.list")</a></li>
   <li><a href="@controllers.admin.routes.Role.index()">@Messages("admin.role.menu.list")</a></li>
  </ul>
 </div>
 <div class="span6">
  <ul class="nav nav-list">
   <li class="nav-header"><i class="icon-book"></i> @Messages("admin.projects")</li>
   <li><a href="@controllers.admin.routes.Workflow.index()">@Messages("admin.workflow.menu.list")</a></li>
   <li><a href="@controllers.routes.Project.index()">@Messages("admin.project.menu.list")</a></li>
  </ul>
 </div>
</div>
<hr>
<div class="row-fluid">
 <div class="span6">
  <ul class="nav nav-list">
   <li class="nav-header"><i class="icon-tag"></i> @Messages("admin.tickets")</li>
   <li><a href="@controllers.admin.routes.TicketType.index()">@Messages("admin.ticket_type.menu.list")</a></li>
   <li><a href="@controllers.admin.routes.TicketLinkType.index()">@Messages("admin.ticket_link_type.menu.list")</a></li>
   <li><a href="@controllers.admin.routes.TicketPriority.index()">@Messages("admin.ticket_priority.menu.list")</a></li>
   <li><a href="@controllers.admin.routes.TicketSeverity.index()">@Messages("admin.ticket_severity.menu.list")</a></li>
   <li><a href="@controllers.admin.routes.TicketStatus.index()">@Messages("admin.ticket_status.menu.list")</a></li>
  </ul>
 </div>
 <div class="span6">
  <ul class="nav nav-list">
   <li class="nav-header"><i class="icon-wrench"></i> @Messages("admin.general")</li>
   <li><a href="@routes.Admin.reindex">@Messages("admin.reindex")</a></li>
   <li><a href="@controllers.admin.routes.Test.generate()">XXX Generate Test Data</a></li>
  </ul>
 </div>
</div>
</div>
}
