@(implicit request: Request[AnyContent])

<div class="nav-collapse">
 <ul class="nav">
  <li @if(request.path.equals("/")) { class="active" }><a href="@routes.Core.index">@Messages("general.home")</a></li>
  <li @if(request.path.startsWith("/ticket")) { class="active" }><a href="@controllers.routes.Ticket.index()">@Messages("general.ticket")</a></li>
  <li @if(request.path.startsWith("/project")) { class="active" }><a href="@controllers.routes.Project.index()">@Messages("general.project")</a></li>
  <li @if(request.path.startsWith("/admin")) { class="active" }><a href="@routes.Admin.index">@Messages("general.admin")</a></li>
 </ul>
 <a class="btn btn-primary" href="@controllers.routes.Ticket.create">@Messages("ticket.add")</a>
 <form class="navbar-search">
   <input type="text" class="search-query" placeholder="Search">
 </form>
 <div class="btn-group pull-right">
   <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">
     @request.session.get("username")
     <span class="caret"></span>
   </a>
   <ul class="dropdown-menu">
    <li><a href="@routes.Auth.logout"><i class="icon-eject"></i> @Messages("auth.logout")</a></li>
   </ul>
 </div>
</div>
