@main-accent-color: #e1e1e8;
@main-subdued-color: #cccccc;

.navbar {
  .brand {
    color: #fff;
    font-family: 'Great Vibes', cursive;
    margin-top: 4px;
  }
  .nav li {
    margin-top: 3px;
  }
  .btn {
    margin-top: 7px;
  }
}
ul.bordered li {
    background-color: #f7f7f9;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e1e1e8;
    -webkit-box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, .15);
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, .15);
    margin-bottom: 5px;
    padding: 6px 8px;
}
li.draggable {
    cursor: move;
    height: 1.2em;
}
ul.boxy {
  li {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid @main-accent-color;
    margin: 0 0 1em 1em;
    float: left;
    padding: 5px;
    width: 15em;
  }
  li:first-child {
    margin-left: 0;
  }
  h3 {
    border-bottom: 1px solid @main-accent-color;
  }
  dl {
    margin-bottom: 5px;
  }
  .chart {
    text-align: center;
  }
}
ul.events {
  blockquote {
    margin-bottom: 3px;
    padding-left: 6px;
    
    p {
      font-size: 14px;
    }
  }
  div.attr {
    color: @main-subdued-color;
    margin-bottom: 1em;
  }
}
table {
  td.actions {
    white-space: nowrap;
  }
  td .btn-toolbar {
    line-height: 14px;
    margin: 0;
  }
  td .btn-toolbar .btn-group {
    margin-bottom: 0;
    margin-top: 0;
  }
  tfoot {
    span.summ {
      display: inline-block;
      margin-top: 2px;
    }
    .pagination {
      height: auto;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
.btn-group-above-table {
    margin-bottom: .5em;
}
.pagination ul li a {
  line-height: 22px;
}
@import "yui.less";