.navbar .brand {
    color: #fff;
    font-family: 'Great Vibes', cursive;
    margin-top: 4px;
}
ul.bordered li {
    background-color: #f7f7f9;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e1e1e8;
    margin-bottom: 5px;
    padding: 6px 8px;
}
table td .btn-toolbar {
    margin: 0;
}
table td .btn-toolbar .btn-group {
    margin-bottom: 0;
    margin-top: 0;
}
table tfoot span.summ {
    display: inline-block;
    margin-top: 8px;
}
.btn-group-above-table {
    margin-bottom: .5em;
}
table tfoot .pagination {
    margin-bottom: 0;
    margin-top: 0;
}