.navbar .brand {
    color: #fff;
    font-family: 'Great Vibes', cursive;
    margin-top: 4px;
}
.navbar .nav li {
  margin-top: 3px;
}
.navbar .btn {
  margin-top: 7px;
}
ul.bordered li {
    background-color: #f7f7f9;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e1e1e8;
    -webkit-box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, .15);
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, .15);
    margin-bottom: 5px;
    padding: 6px 8px;
}
li.draggable {
    cursor: move;
    height: 1.2em;
}
table td.actions {
    white-space: nowrap;
    width: 1%;
}
table td .btn-toolbar {
    line-height: 14px;
    margin: 0;
}
table td .btn-toolbar .btn-group {
    margin-bottom: 0;
    margin-top: 0;
}
table tfoot span.summ {
    display: inline-block;
    margin-top: 8px;
}
.btn-group-above-table {
    margin-bottom: .5em;
}
table tfoot .pagination {
    margin-bottom: 0;
    margin-top: 0;
}
.yui3-panel {
    background-color: #fff;
    border: 1px solid #585858;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    outline: none;
}
.yui3-panel-hidden {
    display: none;
}
.yui3-panel-content .yui3-widget-hd {
    border-bottom: 1px solid #eee;
    font-weight: bold;
    padding: 15px;
}
.yui3-panel-content .yui3-widget-bd {
    padding: 15px;
}
.yui3-panel-content .yui3-widget-ft {
    background-color: #f5f5f5;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    text-align: right;
    padding: 5px;
}
.yui3-panel-content label {
    margin-right: 30px;
}
.yui3-panel-content fieldset {
    border: none;
    padding: 0;
}
.yui3-panel-content input[type="text"] {
    border: none;
    border: 1px solid #ccc;
    padding: 3px 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 100%;
    width: 200px;
}