@(objForm: Form[(Role)])(implicit request: Request[AnyContent])

@import helper._
@import helper.bootstrap._

@main(Messages("admin.role.add")) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">/</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.User.index(page = 0, count = 10)">@Messages("admin.role.list")</a> <span class="divider">/</span>
 </li>
 <li class="active">@Messages("admin.role.add")</li>
</ul>
<h1>@Messages("admin.role.add")</h1>
@helper.form(action = controllers.admin.routes.Role.add) {
 <fieldset>
  @helper.inputText(objForm("name"), '_label -> Messages("role.name"))
  @helper.inputText(objForm("description"), '_label -> Messages("role.description"))
  <div class="form-actions">
   <a href="@routes.Admin.index" class="btn">@Messages("form.cancel")</a>
   <button type="submit" class="btn btn-primary">@Messages("form.submit")</button>
  </div>
 </fieldset>
}
}