@(page: chc.Page[models.Role])(implicit request: Request[AnyContent])
@import util._
@main(Messages("admin.role.list")) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@Messages("admin.role.list")</li>
</ul>
<div class="btn-group btn-group-above-table pull-right">
 <a href="@controllers.admin.routes.Role.create" class="btn"><i class="icon-plus"></i> @Messages("admin.role.add")</a>
</div>
<h1>@Messages("admin.role.list")</h1>
@Option(page.items).filterNot(_.isEmpty).map { items =>
<table class="table table-bordered table-rounded table-striped">
 <thead>
  <th>@Messages("role.name")</th>
  <th>@Messages("general.actions")</th>
 </thead>
 <tbody>
  @items.map { item =>
  <tr>
   <td><a href="@controllers.admin.routes.Role.item(item.id.get)">@Messages(item.name)</a></td>
   <td class="actions">
    <div class="btn-toolbar">
     <div class="btn-group">
      <a class="btn btn-mini" href="@controllers.admin.routes.Role.edit(item.id.get)"><i class="icon-edit"></i> @Messages("general.edit")</a>
     </div>
     <div class="btn-group">
       <button class="btn btn-danger btn-mini">@Messages("general.disable") XXX</button>
       <button class="btn btn-danger btn-mini dropdown-toggle" data-toggle="dropdown">
         <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
        <li>@Messages("general.delete")</li>
       </ul>
     </div>
    </div>
   </td>
  </tr>
  }
 </tbody>
 <tfoot>
  <tr>
   <td colspan="4">
     @pager(page)
    </td>
   </tr>
 </tfoot
</table>
}
}