@(id: Long, objForm: Form[(EditUser)], passForm: Form[(NewPassword)])(implicit request: AuthenticatedRequest)

@import helper._
@import helper.bootstrap._

@main(Messages("admin.user.edit")) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.User.index()">@Messages("admin.user.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@Messages("admin.user.with.id", objForm("username").value.get)</li>
</ul>
<div class="row-fluid">
 <div class="span6">
  <h1>@Messages("admin.user.edit")</h1>
  @helper.form(action = controllers.admin.routes.User.update(id)) {
   <fieldset>
    @helper.inputText(objForm("username"), '_label -> Messages("user.username"))
    @helper.inputText(objForm("realName"), '_label -> Messages("user.realname"))
    @helper.input(objForm("email"), '_label -> Messages("user.email")) { (id, name, value, args) =>
        <input type="email" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
    }
    <div class="form-actions">
     <a href="@controllers.admin.routes.User.index()" class="btn">@Messages("form.cancel")</a>
     <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
    </div>
   </fieldset>
  }
 </div>
 <div class="span6">
  <h1>@Messages("admin.user.changepassword")</h1>
  @passForm.globalError.map { error =>
    <div class="alert alert-error">@Messages(error.message)</div>
  }
  @helper.form(action = controllers.admin.routes.User.updatePassword(id)) {
   <fieldset>
    @helper.inputPassword(passForm("password"), '_label -> Messages("user.password"))
    @helper.inputPassword(passForm("password2"), '_label -> Messages("user.password.confirm"))
   </fieldset>
   <div class="form-actions">
    <a href="@controllers.admin.routes.User.index()" class="btn">@Messages("form.cancel")</a>
    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
   </div>
  }
 </div>
}