@(page: royal.ends.Page[models.User])(implicit request: AuthenticatedRequest)

@import views.html.util._

@main(Messages("admin.user.list")) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@Messages("admin.user.list")</li>
</ul>
<div class="btn-group btn-group-above-table pull-right">
 <a href="@controllers.admin.routes.User.create" class="btn"><i class="icon-plus"></i> @Messages("admin.user.add")</a>
</div>
<h1>@Messages("admin.user.list")</h1>
@Option(page.items).filterNot(_.isEmpty).map { users =>
<table class="table table-bordered table-rounded table-striped">
 <thead>
  <th>@Messages("user.username")</th>
  <th>@Messages("user.realname")</th>
  <th>@Messages("user.email")</th>
  <th>@Messages("general.actions")</th>
 </thead>
 <tbody>
  @users.map { user =>
  <tr>
   <td><a href="@controllers.admin.routes.User.item(user.id.get)">@user.username</a></td>
   <td>@user.realName</td>
   <td>@user.email</td>
   <td class="actions" style="width: 10%">
    <div class="btn-toolbar">
     <div class="btn-group">
      <a class="btn btn-mini" href="@controllers.admin.routes.User.edit(user.id.get)"><i class="icon-edit"></i> @Messages("general.edit")</a>
     </div>
     <div class="btn-group">
       <button class="btn btn-danger btn-mini">@Messages("general.disable") XXX</button>
       <button class="btn btn-danger btn-mini dropdown-toggle" data-toggle="dropdown">
         <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
        <li>@Messages("general.delete")</li>
       </ul>
     </div>
    </div>
   </td>
  </tr>
  }
 </tbody>
 <tfoot>
  <tr>
   <td colspan="4">
     @pager(page)
    </td>
   </tr>
 </tfoot>
</table>
}
}