@(user: models.User, allGroups: List[Group], userGroups: List[GroupUser])(implicit request: AuthenticatedRequest)

@import views.html.util._

@main(Messages("admin.user.with.id", user.username)) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.User.index()">@Messages("admin.user.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@user.username</li>
</ul>
<h1><a class="btn" href="@controllers.routes.User.edit(user.id.get)"><i class="icon-edit"></i></a> @Messages("user.with.id", user.username)</h1>
<div class="row">
 <div class="span3">
  <div class="bigprofile">
   @gravatar(user.id.get, 80)
   <h2>@Messages(user.realName)</h2>
   <h4>@user.username</h4>
   @if(user.location.isDefined) {
   <div><i class="icon-map-marker"></i> @user.location</div>
   }
   @if(user.organization.isDefined) {
   <div><i class="icon-info-sign"></i> @user.organization</div>
   }
   @if(user.title.isDefined) {
   <div><i class="icon-briefcase"></i> @user.title</div>
   }
   @if(user.url.isDefined) {
   <div><i class="icon-globe"></i> <a href="@user.url">@user.url</a></div>
   }
   <div><i class="icon-envelope"></i> <a href="mailto:@user.email">@user.email</a></div>
  </div>
 </div>
 <div class="span9">
  <div class="page-header">
   <h2>@Messages("admin.user.groups.list") <small>@Messages("admin.group.menu.list.help")</small></h2>
  </div>
  <ul id="userGroups" class="unstyled bordered">
  @allGroups.map { group =>
   <li><input type="checkbox" value="@group.id" @{userGroups.find(x => x.groupId == group.id.get) match { case Some(x) => """checked="checked""""; case None => ;}}> @group.name</li>
  }
  </ul>
 </div>
</div>
<script type="text/javascript">
YUI().use('emperor-models', 'node', function (Y) {

  Y.all('#userGroups input[type=checkbox]').on('change', function(e) {
    var model = new Y.UserGroup({
      id: e.target.get('value'),
      user_id: @user.id.get
    });
    if ( e.target.get('checked') ) {
      model.save();
    } else {
      model.destroy({ 'delete' : true });
    }
  });
});
</script>
}
