@(user: models.User, allGroups: List[Group], userGroups: List[GroupUser])(implicit request: Request[AnyContent])
@main(Messages("admin.user.with.id", user.username)) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.User.index(page = 0, count = 10)">@Messages("admin.user.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@user.username</li>
</ul>
<h1>@Messages("user.with.id", user.username)</h1>
XXX edit link
<h2>@Messages("admin.user.groups.list")</h2>
<ul id="userGroups" class="unstyled bordered">
@allGroups.map { group =>
  <li><input type="checkbox" value="@group.id" @{userGroups.find(x => x.group_id == group.id.get) match { case Some(x) => """checked="checked""""; case None => ;}}> @group.name</li>
} 
</ul>
}
<script type="text/javascript">
YUI({gallery: 'gallery-2012.03.23-18-00'}).use('node', 'model', 'model-list', 'gallery-model-sync-rest', function (Y) {
  UserGroupModel = Y.Base.create('UserGroup', Y.Model, [ Y.ModelSync.REST ],
    {
      root : '/admin/user/' +  @user.id + '/group'
    }
  );
  
  Y.all('#userGroups input[type=checkbox]').on('change', function(e) {
    var model = new UserGroupModel({ id: e.target.get('value') });
    if ( e.target.get('checked') ) {
      model.save();
    } else {
      model.destroy({ 'delete' : true });
    }
  });
});
</script>