@(id: Long, objForm: Form[(EditProject)], workflows: List[(String,String)], users: List[(String,String)], asses: List[(String,String)], ttypes: List[(String,String)], priorities: List[(String,String)], severities: List[(String,String)])(implicit request: AuthenticatedRequest)

@import helper._
@import helper.bootstrap._

@main(Messages("project.edit")) {
<h1>@Messages("project.edit")</h1>
XXX show key?
@helper.form(action = routes.Project.update(id)) {
 <fieldset>
  @helper.inputText(objForm("name"), '_label -> Messages("project.name"))
  @helper.select(field = objForm("workflow_id"), options = workflows, args = '_label -> Messages("project.workflow"))
  @helper.select(field = objForm("owner_id"), options = users, args = '_label -> Messages("project.owner"))
  @helper.select(field = objForm("default_assignee"), options = asses, args = '_label -> Messages("project.default.assignee"))
  @helper.select(field = objForm("default_priority_id"), options = priorities, args = '_label -> Messages("project.default.priority"))
  @helper.select(field = objForm("default_severity_id"), options = severities, args = '_label -> Messages("project.default.severity"))
  @helper.select(field = objForm("default_type_id"), options = ttypes, args = '_label -> Messages("project.default.ttype"))
  <div class="form-actions">
   <a href="@controllers.routes.Project.index()" class="btn"><i class="icon-remove"></i> @Messages("form.cancel")</a>
   <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
  </div>
 </fieldset>
}
}