@(id: Long, projectForm: Form[(Project)])(implicit request: Request[AnyContent])

@import helper._
@import helper.bootstrap._

@main(Messages("project.edit")) {
<h1>@Messages("project.edit")</h1>
@helper.form(action = routes.Project.update(id)) {
 <fieldset>
  @helper.inputText(projectForm("name"), '_label -> Messages("project.name"))
  <div class="form-actions">
   <a href="@controllers.routes.Project.index(page = 0, count = 10)" class="btn">@Messages("form.cancel")</a>
   <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
  </div>
 </fieldset>
}
}