@(page: chc.Page[models.Project])(implicit request: Request[AnyContent])
@import util._
@main("project.list") {
<div class="btn-group btn-group-above-table pull-right">
 <a href="@controllers.routes.Project.create" class="btn"><i class="icon-plus"></i> @Messages("project.add")</a>
</div>
<h1>@Messages("project.list")</h1>
@Option(page.items).filterNot(_.isEmpty).map { projects =>
<ul class="unstyled boxy">
  @projects.map { project =>
  <li>
   <h3><a href="@controllers.routes.Project.item(project.id.get)">@project.name</a></h3>
   <dl class="dl-horizontal">
    <dt>Open Tickets</dt>
    <dd>XXX</dd>
    <dt>Tickets Today</dt>
    <dd>XXX</dd>
    <dt>Tickets This Week</dt>
    <dd>XXX</dd>
   </dl>
   <div class="chart">
    Heat Chart?XXX
   </div>
  </li>
  }
</ul>
}
}