@(page: emp.util.Pagination.Page[models.Project])(implicit request: AuthenticatedRequest)
@import views.html.util._
@import models.TicketModel
@main(Messages("project.list")) {
<div class="btn-group btn-group-above-table pull-right">
 <a href="@controllers.routes.Project.create" class="btn"><i class="icon-plus"></i> @Messages("project.add")</a>
</div>
<h1>@Messages("project.list")</h1>
@if(page.items.isEmpty) {
@Messages("general.projects.empty")
} else {
@Option(page.items).filterNot(_.isEmpty).map { projects =>
<ul class="unstyled boxy">
  @projects.map { project =>
  <li>
   <h3><a href="@controllers.routes.Project.item(project.id.get)">@project.name</a></h3>
   <p>Stats</p>
   <div class="chart">
    Heat Chart?XXX
   </div>
  </li>
  }
</ul>
}
}
}
