@(ticketId: Long, commentForm: Form[models.InitialComment], status: Option[models.WorkflowStatus])(implicit request: Request[AnyContent])

@import helper.bootstrap._

<div id="advancer">
  <div class="yui-widget-bd">
   @helper.form(action = routes.Ticket.doAdvance(ticketId), args = 'method -> "POST") {
   <fieldset>
     <input type="hidden" name="status_id" value="@status.get.id.get">
     @helper.textarea(field = commentForm("content"), args = '_label -> Messages("ticket.comment"))
   </fieldset>
  </div>
  }
</div>
