@(ticket: models.FullTicket,
  assignees: List[(String,String)],
  resolutions: List[(String,String)],
  resolveForm: Form[models.Resolution],
  assignForm: Form[models.Assignment],
  commentForm: Form[models.Comment],
  comments: emp.util.Search.SearchResult[models.Comment],
  statuses: Seq[WorkflowStatus]
)(implicit request: AuthenticatedRequest)

@import emp.DateFormatter
@import emp.text.Renderer
@import helper.bootstrap._
@import views.html.util._

@item(ticket = ticket, assignees = assignees, resolutions = resolutions, commentForm = commentForm, resolveForm = resolveForm, assignForm = assignForm, statuses = statuses) {
<div class="tabcontent">
 <div class="navbar">
  <div class="navbar-inner">
   <div class="container">
    <ul class="nav">
     <li><a href="@routes.Ticket.item("comments", id = ticket.ticketId)" class="yui3-pjax">@Messages("ticket.comment.list")</a></li>
     <li class="active"><a href="@routes.Ticket.item("commits", id = ticket.ticketId)">@Messages("ticket.commit.list")</a></li>
     <li><a href="@routes.Ticket.item("history", id = ticket.ticketId)" class="yui3-pjax">@Messages("ticket.history.list")</a></li>
    </ul>
    @helper.form(action = routes.Ticket.item(tab = "comments", id = ticket.ticketId), 'class -> "navbar-search") {
     <input type="text" name="query" class="search-query" placeholder="@Messages("ticket.comment.search.placeholder")">
    }
   </div>
  </div>
 </div>
 <div class="tab-pane active" id="comments">
   <ul class="unstyled events">
    @comments.pager.items.map { comment =>
    <li>
     <div class="popover right fade in">
      <div class="arrow"></div>
      <h3 class="popover-title">@Messages("ticket.comment.attribution.prefix") <a href="@routes.User.item(comment.userId)">@Messages(comment.realName)</a> <time datetime="@DateFormatter.displayISO8601(comment.dateCreated)" title="@DateFormatter.displayISO8601(comment.dateCreated)">@DateFormatter.displayLongDateTime(comment.dateCreated)</time></h3>
      <div class="popover-content">
       <p>@Html(Renderer.render(Some(comment.content)))</p>
      </div>
     </div>
     <a href="@routes.User.item(comment.userId)">@gravatar(comment.userId, 32)</a>
    </li>
    }
   </ul>
   @if(comments.pager.total > comments.pager.items.size) {
   @pager(comments.pager)
   }
 </div>
</div>
}
