@(ticket: models.FullTicket,
  links: Map[String,List[models.FullLink]],
  assignees: List[(String,String)],
  resolutions: List[(String,String)],
  resolveForm: Form[models.Resolution],
  assignForm: Form[models.Assignment],
  commentForm: Form[models.Comment],
  comments: emp.util.Search.SearchResult[models.Comment],
  previousStatus: Option[WorkflowStatus],
  nextStatus: Option[WorkflowStatus],
  linkTypes: List[models.TicketLinkType]
)(implicit request: AuthenticatedRequest)

@import emp.DateFormatter
@import emp.text.Renderer
@import helper.bootstrap._
@import views.html.util._

@item(ticket = ticket, links = links, assignees = assignees, resolutions = resolutions, commentForm = commentForm, resolveForm = resolveForm, assignForm = assignForm, previousStatus = previousStatus, nextStatus = nextStatus, linkTypes = linkTypes) {
<div class="tabcontent">
 <div class="navbar">
  <div class="navbar-inner">
   <div class="container">
    <ul class="nav">
     <li class="active"><a href="@routes.Ticket.item("comments", id = ticket.ticketId)" class="yui3-pjax">@Messages("ticket.comment.list")</a></li>
     <li><a href="@routes.Ticket.item("history", id = ticket.ticketId)" class="yui3-pjax">@Messages("ticket.history.list")</a></li>
    </ul>
    @helper.form(action = routes.Ticket.item(tab = "comments", id = ticket.ticketId), 'class -> "navbar-search") {
     <input type="text" name="query" class="search-query" placeholder="@Messages("ticket.comment.search.placeholder")">
    }
   </div>
  </div>
 </div>
 <div class="tab-pane active" id="comments">
   <ul class="unstyled events">
    @comments.pager.items.map { comment =>
    <li>
     <div class="popover right fade in">
      <div class="arrow"></div>
      <h3 class="popover-title">@Messages("ticket.comment.attribution.prefix") <a href="@routes.User.item(comment.userId)">@Messages(comment.realName)</a> <time datetime="@DateFormatter.displayISO8601(comment.dateCreated)" title="@DateFormatter.displayISO8601(comment.dateCreated)">@DateFormatter.displayLongDateTime(comment.dateCreated)</time></h3>
      <div class="popover-content">
       <p>@Html(Renderer.render(Some(comment.content)))</p>
      </div>
     </div>
     <a href="@routes.User.item(comment.userId)">@gravatar(comment.userId, 32)</a>
    </li>
    }
   </ul>
   @if(comments.pager.total > comments.pager.items.size) {
   @pager(comments.pager)
   }
   <h4>@Messages("ticket.comment.add")</h4>
   @helper.form(action = routes.Ticket.comment(ticket.ticketId)) {
    <fieldset>
     @helper.textarea(field = commentForm("content"), args = '_label -> Messages("ticket.comment"), 'class -> "span6", 'rows -> 6)
     <div class="form-actions">
      <button type="submit" class="btn btn-primary"<i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
     </div>
    </fieldset>
   }
    </div>
   </div>
  }
