@(
  ticket: models.FullTicket,
  markdown: org.clapper.markwrap.MarkWrapParser,
  commentForm: Form[models.InitialComment],
  comments: chc.Page[org.elasticsearch.search.SearchHit],
  facets: Seq[org.elasticsearch.search.facet.terms.longs.InternalLongTermsFacet]
)(implicit request: Request[AnyContent])

@import helper.bootstrap._
@import chc._
@import util._

<div class="row">
<div class="span2">
 <ul class="nav nav-list">
  @facets.map { facet =>
    <li class="nav-header">@Messages("ticket.comment.facet." + facet.getName)</li>
    @facet.entries.map { entry =>
    <li><a href="@Library.filterLink(request, facet.getName, entry.getTerm)">@Messages(entry.getTerm) <span class="badge">@entry.getCount</span></a></li>
    }
  }
 </ul>
</div>
<div class="span10">
 <ul class="unstyled events">
  @comments.items.map { comment =>
  <li>
   <blockquote>@{ Html(markdown.parseToHTML(comment.field("content").getValue.toString)) }</blockquote>
   <div class="attr">@Messages("ticket.comment.attribution.prefix") <a href="XXX">@comment.field("user_realname").getValue.toString</a> @Messages("ticket.comment.attribution.postfix", comment.field("date_created").getValue.toString)</div>
  </li>
  }
 </ul>
 @pager(comments)
</div>
</div>
