@(objForm: Form[(models.InitialTicket)],
  users: String,
  projs: String,
  ttypes: String,
  priorities: String,
  severities: String,
  project: String
)(implicit request: AuthenticatedRequest)

@import emp.JsonFormats._
@import helper._
@import helper.bootstrap._
@import play.api.libs.json.Json

@main(Messages("ticket.add")) {
<h1>@Messages("ticket.add")</h1>
@helper.form(action = controllers.routes.Ticket.add, args = ('class -> "form-horizontal")) {
 <fieldset>
  @helper.bootstrap.select(field = objForm("project_id"), dataBind = "options: projects(), optionsText: 'name', optionsValue: 'id', value: projectShit", args = '_label -> Messages("ticket.project"))
  @helper.inputText(field = objForm("summary"), args = 'class -> "span8", '_label -> Messages("ticket.summary"))
  @helper.textarea(field = objForm("description"), args = 'class -> "span8", 'rows -> 5, '_label -> Messages("ticket.description"))
  @helper.bootstrap.select(field = objForm("reporter_id"), dataBind = "options: reporters(), value: user().id, optionsText: 'realNameI18N', optionsValue: 'id'", args = '_label -> Messages("ticket.reporter"))
  @helper.bootstrap.select(field = objForm("assignee_id"), dataBind = "options: assignees(), value: selectedProject().defaultAssignee, optionsText: 'realNameI18N', optionsValue: 'id'", args = '_label -> Messages("ticket.assignee"))
  @helper.bootstrap.select(field = objForm("type_id"), dataBind = "options: ttypes(), value: selectedProject().defaultTypeId, optionsText: 'nameI18N', optionsValue: 'id'", args = '_label -> Messages("ticket.type"))
  @helper.bootstrap.select(field = objForm("priority_id"), dataBind = "options: priorities(), value: selectedProject().defaultPriorityId, optionsText: 'nameI18N', optionsValue: 'id'", args = '_label -> Messages("ticket.priority"))
  @helper.bootstrap.select(field = objForm("severity_id"), dataBind = "options: severities(), value: selectedProject().defaultSeverityId, optionsText: 'nameI18N', optionsValue: 'id'", args = '_label -> Messages("ticket.severity"))
  <div class="form-actions">
   <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
  </div>
 </fieldset>
}
<script>
$(function(){
  var view = TicketAddViewModel(
    @Html(Json.toJson(request.user).toString),
    @Html(projs),
    @Html(project),
    @Html(users),
    @Html(ttypes),
    @Html(priorities),
    @Html(severities)
  );
  ko.applyBindings(view);
});
</script>
}
