@(objForm: Form[(models.Ticket)],
  users: String,
  projs: String,
  ttypes: String,
  priorities: String,
  severities: String,
  project: String
)(implicit request: AuthenticatedRequest)

@import emp.JsonFormats._
@import helper.bootstrap._
@import helper.bootstrap.bootstrapFieldConstructor
@import play.api.libs.json.Json

@main(Messages("ticket.add")) {
<h1>@Messages("ticket.add")</h1>
@form(action = controllers.routes.Ticket.add, dataBind="submit: doSubmit", args = 'class -> "form-horizontal", 'id -> "add-ticket") {
 <fieldset>
  @select(field = objForm("projectId"), dataBind = "options: projects(), optionsCaption: 'Choose A Project…', optionsText: 'name', optionsValue: 'id', value: chosenProject", args = '_label -> Messages("ticket.project"))
  @inputText(field = objForm("summary"), dataBind = "value: summary", args = 'class -> "span8", '_label -> Messages("ticket.summary"))
  @textarea(field = objForm("description"), dataBind="value: description", args = 'class -> "span8", 'rows -> 5, '_label -> Messages("ticket.description"))
  @select(field = objForm("reporterId"), dataBind = "options: reporters(), value: chosenReporter(), optionsText: 'realNameI18N', optionsValue: 'id'", args = '_label -> Messages("ticket.reporter"))
  @select(field = objForm("assigneeId"), dataBind = "options: assignees(), value: chosenAssignee(), optionsText: 'realNameI18N', optionsValue: 'id'", args = '_label -> Messages("ticket.assignee"))
  @select(field = objForm("typeId"), dataBind = "options: ttypes(), value: chosenType(), optionsText: 'nameI18N', optionsValue: 'id'", args = '_label -> Messages("ticket.type"))
  @select(field = objForm("priorityId"), dataBind = "options: priorities(), value: chosenPriority(), optionsText: 'nameI18N', optionsValue: 'id'", args = '_label -> Messages("ticket.priority"))
  @select(field = objForm("severityId"), dataBind = "options: severities(), value: chosenSeverity(), optionsText: 'nameI18N', optionsValue: 'id'", args = '_label -> Messages("ticket.severity"))
  <div class="form-actions">
   <button type="submit" data-bind="enable: hasProject()" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
  </div>
 </fieldset>
}
<script>
$(function(){
  var view = TicketAddViewModel(
    @Html(Json.toJson(request.user).toString),
    @Html(projs),
    @Html(project),
    @Html(users),
    @Html(ttypes),
    @Html(priorities),
    @Html(severities)
  );
  ko.applyBindings(view);
});
</script>
}
