@(id: String, objForm: Form[(EditTicket)], users: List[(String,String)], assignees: List[(String,String)], attentions: List[(String,String)], projs: List[(String,String)], ttypes: List[(String,String)], priorities: List[(String,String)], severities: List[(String,String)])(implicit request: AuthenticatedRequest)

@import helper._
@import helper.bootstrap._

@main(Messages("ticket.edit")) {
<h1>@Messages("ticket.edit")</h1>
@helper.form(action = routes.Ticket.update(id)) {
 <fieldset>
  @helper.inputText(field = objForm("summary"), args = 'class -> "span8", '_label -> Messages("ticket.summary"))
  @helper.textarea(field = objForm("description"), args = 'class -> "span8", 'rows -> 5, '_label -> Messages("ticket.description"))
  @helper.select(field = objForm("reporter_id"), options = users, args = '_label -> Messages("ticket.reporter"))
  @helper.select(field = objForm("assignee_id"), options = assignees, args = '_label -> Messages("ticket.assignee"))
  @helper.select(field = objForm("attention_id"), options = attentions, args = '_label -> Messages("ticket.attention"))
  @helper.select(field = objForm("type_id"), options = ttypes, args = 'class -> "foo", '_label -> Messages("ticket.type"))
  @helper.select(field = objForm("priority_id"), options = priorities, args = 'class -> "foo", '_label -> Messages("ticket.priority"))
  @helper.select(field = objForm("severity_id"), options = severities, args = 'class -> "foo", '_label -> Messages("ticket.severity"))
  <div class="form-actions">
   <a href="@controllers.routes.Ticket.item("comments", id)" class="btn"><i class="icon-remove"></i> @Messages("form.cancel")</a>
   <button type="submit" class="btn btn-primary"<i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
  </div>
 </fieldset>
}
}