@(page: chc.Page[models.Ticket])(implicit request: Request[AnyContent])
@import util._
@main(Messages("ticket.list")) {
<div class="btn-group btn-group-above-table pull-right">
 <a href="@controllers.routes.Ticket.create" class="btn"><i class="icon-plus"></i> @Messages("ticket.add")</a>
</div>
<h1>@Messages("ticket.list")</h1>
@Option(page.items).filterNot(_.isEmpty).map { tickets =>
<table class="table table-bordered table-rounded table-striped">
 <thead>
  <th>@Messages("ticket.summary")</th>
  <th>@Messages("general.actions")</th>
 </thead>
 <tbody>
  @tickets.map { ticket =>
  <tr>
   <td><a href="@controllers.routes.Ticket.item(ticket.id.get)">@ticket.summary</a></td>
   <td class="actions">
    <div class="btn-toolbar">
     <div class="btn-group">
      <a class="btn btn-mini" href="@routes.Ticket.edit(ticket.id.get)"><i class="icon-edit"></i> @Messages("general.edit")</a>
     </div>
    </div>
   </td>
  </tr>
  }
 </tbody>
 <tfoot>
  <tr>
   <td colspan="4">
     @pager(page)
    </td>
   </tr>
 </tfoot
</table>
}
}