@(ticket: models.FullTicket, mdParser: org.clapper.markwrap.MarkWrapParser, commentForm: Form[models.InitialComment], prevStatus: Option[models.WorkflowStatus], nextStatus: Option[models.WorkflowStatus], comments: chc.SearchResult[models.Comment], changes: Seq[TicketChanges])(implicit request: Request[AnyContent])

@import helper.bootstrap._
@import util._

@main(Messages("ticket.with.id", ticket.id)) {
<h2 class="pull-left"><span class="label">@Messages(ticket.typeName)</span> @ticket.summary</h2>
<a href="@routes.Ticket.edit(ticket.id.get)" class="btn"><i class="icon-edit"></i> @Messages("Edit Ticket")</a>
<div class="btn-group pull-right">
 @prevStatus match {
   case Some(status) => {
 <a href="@routes.Ticket.newStatus(ticket.id.get, prevStatus.get.id.get)" class="btn btn-warning remote-dialog" data-async="true" title="@Messages("ticket.revert", Messages(prevStatus.get.name))"><i class="icon-arrow-left icon-white"></i> @Messages("ticket.revert", Messages(status.name))</a>
   }
   case None => { }
 }
 <a href="#" class="btn disabled">@Messages(ticket.statusName)</a>
 @nextStatus match {
   case Some(status) => {
 <a href="@routes.Ticket.newStatus(ticket.id.get, nextStatus.get.id.get)" class="btn btn-primary remote-dialog" data-async="true" title="@Messages("ticket.advance", Messages(nextStatus.get.name))">@Messages("ticket.advance", Messages(status.name)) <i class="icon-arrow-right icon-white"></i></a>
   }
   case None => {
 <a href="#" class="btn disabled">@Messages("ticket.advance.end")</a>
   }
 }
</div>
<div style="clear: both" class="row well">
 <div class="span6">
  <dl class="dl-horizontal">
   <dt>@Messages("ticket.project")</dt>
   <dd>@ticket.projectName</dd>
   <dt>@Messages("ticket.priority")</dt>
   <dd>@Messages(ticket.priorityName)</dd>
  </dl>
 </div>
 <div class="span6">
  <dl class="dl-horizontal">
   <dt>@Messages("ticket.severity")</dt>
   <dd>@Messages(ticket.severityName)</dd>
   <dt>@Messages("ticket.status")</dt>
   <dd>@Messages(ticket.statusName)</dd>
  </dl>
 </div>
</div>
@{ ticket.description match { case Some(text) => Html(mdParser.parseToHTML(text)); case None => Messages("ticket.description.none") } }
<div id="ticketTabs" data-toggle="tab">
 <ul class="nav nav-tabs" data-toggle="tab">
  <li class="active"><a href="#comments">@Messages("ticket.comment.list")</a></li>
  <li><a href="#history">@Messages("ticket.history.list")</a></li>
 </ul>
  <div class="row">
   <div class="tab-content">
     <div class="tab-pane active" id="comments">
      @if(comments.pager.items.isEmpty) {
        @helper.form(action = routes.Ticket.comment(ticket.id.get)) {
          <fieldset>
            @helper.textarea(field = commentForm("content"), args = '_label -> Messages("ticket.comment"))
           <div class="form-actions">
            <button type="submit" class="btn btn-primary"<i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
           </div>
          </fieldset>  
        }
      } else {
       <div class="span2">
         @Option(comments.facets).filterNot(_.isEmpty).map { facets =>
         <ul class="nav nav-list">
           @facets.map { facet =>
           <li class="nav-header">
             @facet.name
           </li>
           @facet.items.map { item =>
           <li>
             <a href="#">@item.name <span class="badge">@item.count</span></a>
           </li>
           }
          }
         </ul>
        }
       </div>
       <div class="span10">
         @helper.form(action = routes.Ticket.comment(ticket.id.get)) {
           <fieldset>
             @helper.textarea(field = commentForm("content"), args = 'class -> "input-xxlarge", '_label -> Messages("ticket.comment"), 'rows -> 4)
            <div class="form-actions">
             <button type="submit" class="btn btn-primary"<i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
            </div>
           </fieldset>  
         }
        <ul class="unstyled events">
        @comments.pager.items.map { comment =>
         <li>
          <blockquote>@{ Html(mdParser.parseToHTML(comment.content)) }</blockquote>
          <div class="attr">@Messages("ticket.comment.attribution.prefix") <a href="XXX">@comment.realName</a> @Messages("ticket.comment.attribution.postfix", comment.dateCreated)</div>
          </li>
        }
        </ul>
        @pager(comments.pager)
       </div>
      }
     </div>
   </div>
   <div class="tab-pane" id="history">
     History @changes
   </div>
 </div>
</div>
<script>
YUI().use('gallery-bootstrap', function (Y) {
  var tabview = new Y.Bootstrap.Tabview({ node: '#ticketTabs' });

  tabview.selectChild(0); // Select the second tab
});
</script>
}
