@(ticket: models.FullTicket, mdParser: org.clapper.markwrap.MarkWrapParser,
  prevStatus: Option[models.WorkflowStatus],
  nextStatus: Option[models.WorkflowStatus]
)(content: Html)(implicit request: Request[AnyContent])

@import helper.bootstrap._
@import util._

@main(Messages("ticket.with.id", ticket.id)) {
<h2 class="pull-left"><span class="label">@Messages(ticket.typeName)</span> @ticket.summary</h2>
<a href="@routes.Ticket.edit(ticket.id.get)" class="btn"><i class="icon-edit"></i> @Messages("Edit Ticket")</a>
<div class="btn-group pull-right">
 @prevStatus match {
   case Some(status) => {
 <a href="@routes.Ticket.newStatus(ticket.id.get, prevStatus.get.id.get)" class="btn btn-warning remote-dialog" data-async="true" title="@Messages("ticket.revert", Messages(prevStatus.get.name))"><i class="icon-arrow-left icon-white"></i> @Messages("ticket.revert", Messages(status.name))</a>
   }
   case None => { }
 }
 <a href="#" class="btn disabled">@Messages(ticket.statusName)</a>
 @nextStatus match {
   case Some(status) => {
 <a href="@routes.Ticket.newStatus(ticket.id.get, nextStatus.get.id.get)" class="btn btn-primary remote-dialog" data-async="true" title="@Messages("ticket.advance", Messages(nextStatus.get.name))">@Messages("ticket.advance", Messages(status.name)) <i class="icon-arrow-right icon-white"></i></a>
   }
   case None => {
 <a href="#" class="btn disabled">@Messages("ticket.advance.end")</a>
   }
 }
</div>
<div style="clear: both" class="row well">
 <div class="span6">
  <dl class="dl-horizontal">
   <dt>@Messages("ticket.project")</dt>
   <dd>@ticket.projectName</dd>
   <dt>@Messages("ticket.priority")</dt>
   <dd>@Messages(ticket.priorityName)</dd>
  </dl>
 </div>
 <div class="span6">
  <dl class="dl-horizontal">
   <dt>@Messages("ticket.severity")</dt>
   <dd>@Messages(ticket.severityName)</dd>
   <dt>@Messages("ticket.status")</dt>
   <dd>@Messages(ticket.statusName)</dd>
  </dl>
 </div>
</div>
@{ ticket.description match { case Some(text) => Html(mdParser.parseToHTML(text)); case None => Messages("ticket.description.none") } }
XXX Need loading thingie here
<div id="tabarea">
 @content
</div>
}
<script>
YUI().use('pjax', function (Y) {
    new Y.Pjax({
      container: '#tabarea',
      addPjaxParam: true,
      contentSelector: '.tabcontent'
    });
});
</script>
