@(ticket: models.FullTicket, mdParser: org.clapper.markwrap.MarkWrapParser, commentForm: Form[(String, Option[String])], prevStatus: Option[models.WorkflowStatus], nextStatus: Option[models.WorkflowStatus])(implicit request: Request[AnyContent])
@main(Messages("ticket.with.id", ticket.id)) {
<h2 class="pull-left"><span class="label">@Messages(ticket.typeName)</span> @ticket.summary</h2>
<div class="btn-group pull-right">
 @prevStatus match {
   case Some(status) => {
 <a id="ticketRevert" href="#" class="btn btn-warning"><i class="icon-arrow-left icon-white"></i> @Messages("ticket.revert", Messages(status.name))</a>
   }
   case None => {
 <a href="#" class="btn disabled"><i class="icon-arrow-left"></i> @Messages("ticket.revert.start")</a>
   }
 }
 <a href="@routes.Ticket.edit(ticket.id.get)" class="btn"><i class="icon-edit"></i> @Messages("Edit Ticket")</a>
 @nextStatus match {
   case Some(status) => {
 <a id="ticketAdvance" href="#" class="btn btn-primary">@Messages("ticket.advance", Messages(status.name)) <i class="icon-arrow-right icon-white"></i></a>
   }
   case None => {
 <a href="#" class="btn">@Messages("ticket.advance.end") <i class="icon-arrow-right"></i></a>
   }
 }
</div>
<div style="clear: both" class="row well">
 <div class="span6">
  <dl class="dl-horizontal">
   <dt>@Messages("ticket.project")</dt>
   <dd>@ticket.projectName</dd>
   <dt>@Messages("ticket.priority")</dt>
   <dd>@Messages(ticket.priorityName)</dd>
  </dl>
 </div>
 <div class="span6">
  <dl class="dl-horizontal">
   <dt>@Messages("ticket.severity")</dt>
   <dd>@Messages(ticket.severityName)</dd>
   <dt>@Messages("ticket.status")</dt>
   <dd>@Messages(ticket.statusName)</dd>
  </dl>
 </div>
</div>
@{ ticket.description match { case Some(text) => Html(mdParser.parseToHTML(text)); case None => Messages("ticket.description.none") } }
@helper.form(action = routes.Ticket.comment(ticket.id.get)) {
  <fieldset>
    @helper.textarea(field = commentForm("content"), args = '_label -> Messages("ticket.comment"))
   <div class="form-actions">
    <button type="submit" class="btn btn-primary"<i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
   </div>
  </fieldset>  
}
<div id="advancer">
    <div class="yui3-widget-bd">Overlay Body XXX Flicker?!</div>
</div>
<script>
// Create a new YUI instance and populate it with the required modules.
YUI({ fetchCSS: false }).use('event', 'panel', function (Y) {

  var advPanel = new Y.Panel({
    buttons : [ { section : 'header', label : '×', classNames : [ 'closer' ] } ],
    centered: true,
    headerContent: "@Messages("ticket.advance")",
    hideOn: [
      // { eventName: 'clickoutside' },
      { node: Y.one('.closer'), eventName: 'click' }
    ],
    modal: true,
    plugins: [Y.Plugin.Drag],
    render: true,
    srcNode: "#advancer",
    visible: false,
    width: 250,
    zIndex: 100
  });
  
  advPanel.addButton({
    value  : "@Messages("general.cancel")",
    section: Y.WidgetStdMod.FOOTER,
    classNames: [ "btn" ],
    action : function (e) {
      e.preventDefault();
      // advPanel.hide();
    }
  });
  
  advPanel.addButton({
    value  : "@Messages("ticket.advance")",
    section: Y.WidgetStdMod.FOOTER,
    classNames: [ "btn", "btn-primary" ],
    action : function (e) {
      e.preventDefault();
    }
  });
  
  Y.one("#ticketAdvance").on("click", function(e) {
   Y.log("toggling ticket advancer");
   advPanel.show();
  })
});
</script>
}