@(ticket: models.FullTicket, linkTypes: List[(String,String)], linkForm: Form[models.MakeLink])(implicit request: Request[AnyContent])

@import helper._
@import helper.bootstrap._

@helper.form(action = routes.Ticket.doLink(ticket.ticketId), args = 'method -> "POST") {
<div class="modal-header">
 <button type="button" class="close" data-dismiss="modal">×</button>
 <h3>@Messages("ticket.linker.action")</h3>
</div>
<div class="modal-body">
 <fieldset>
  @helper.select(field = linkForm("link_type_id"), options = linkTypes, args = '_label -> Messages("ticket.linker.link", ticket.ticketId))
  <div class="control-group" data-bind="visible: selectedTickets().length > 0">
   <label class="control-label" for="other_ticket_id">@Messages("ticket.linker.selectedtickets")</label>
   <div class="controls">
    <ul class="unstyled labels" data-bind="foreach: selectedTickets()">
     <li><input type="hidden" name="selected" data-bind="value: ticketId, attr: { name: 'ticket[' + $index() + ']'}"><span class="label label-info"><span data-bind="text: ticketId"></span><button type="button" class="close" data-bind="click: removeTicket">&times;</button></span></li>
    </ul>
   </div>
  </div>
  <div class="control-group" style="clear: both">
    <label class="control-label" for="other_ticket_id">@Messages("ticket.linker.otherticket")</label>
    <div class="controls">
     <div>
      <input type="text" id="other_ticket_id" name="other_ticket_id" data-bind="value: query, valueUpdate: 'afterkeydown', event: { keydown: moveTicket }" value="" autocomplete="off">
      <div data-bind="visible: tickets().length > 0" style="position: absolute;">
       <ul class="typeahead dropdown-menu" data-bind="foreach: tickets()">
        <li data-bind="css: { active: maybeTicket() == $index() }"><a href="#" data-bind="click: selectTicket"><span data-bind="text: ticketId"></span></a></li>
       </ul>
      </div>
     </div>
     <span class="help-block"></span>
    </div>
  </div>
  @helper.textarea(field = linkForm("comment"), args = '_label -> Messages("ticket.comment"), 'class -> "input-xxlarge", 'rows -> 5)
 </fieldset>
</div>
<div class="modal-footer">
 <a href="#" class="btn" data-dismiss="modal">@Messages("form.cancel")</a>
 <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("ticket.linker.confirm")</button>
</div>
<script>
$(function(){
  var view = TicketLinkViewModel();
  ko.applyBindings(view);
});
</script>
}
