@(ticketId: Long, ticket: models.FullTicket, status: models.WorkflowStatus, commentForm: Form[models.InitialComment])(implicit request: Request[AnyContent])

@import helper.bootstrap._

<div>
   @helper.form(action = routes.Ticket.status(ticketId), args = 'method -> "POST") {
   <p>@Html(Messages("ticket.statuschange.summary", ticket.id.get, Messages(ticket.statusName), Messages(status.name)))</p>
   <fieldset>
     <input type="hidden" name="status_id" value="@status.id.get">
     @helper.textarea(field = commentForm("comment"), args = '_label -> Messages("ticket.comment"), 'class -> "input-xlarge", 'rows -> 5)
   </fieldset>
  }
</div>
