@(ticketId: Long, ticket: models.FullTicket, commentForm: Form[models.InitialComment])(implicit request: Request[AnyContent])

@import helper.bootstrap._

<div>
   @helper.form(action = routes.Ticket.status(ticketId), args = 'method -> "POST") {
   <p>@Html(Messages("ticket.statuschange.summary", ticket.id.get, Messages(ticket.statusName)))</p>
   <fieldset>
     @helper.textarea(field = commentForm("comment"), args = '_label -> Messages("ticket.comment"), 'class -> "input-xlarge", 'rows -> 5)
   </fieldset>
  }
</div>
