@(id: Long, objForm: Form[(User)], passForm: Form[(NewPassword)])(implicit request: AuthenticatedRequest)

@import emp.DateFormatter
@import helper._
@import helper.bootstrap._

@main(Messages("user.edit")) {
<div class="row-fluid">
 <div class="span6">
  <h1>@Messages("user.edit")</h1>
  @helper.form(action = controllers.routes.User.update(id)) {
   <fieldset>
    @helper.inputText(objForm("username"), '_label -> Messages("user.username"))
    @helper.inputText(objForm("realName"), '_label -> Messages("user.realname"))
    @helper.select(field = objForm("timezone"), options = DateFormatter.timeZoneList, '_label -> Messages("user.timezone"))
    @helper.input(objForm("email"), '_label -> Messages("user.email")) { (id, name, value, args) =>
     <input type="email" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
    }
    @helper.inputText(objForm("location"), '_label -> Messages("user.location"))
    @helper.inputText(objForm("url"), '_label -> Messages("user.url"))
    @helper.inputText(objForm("organization"), '_label -> Messages("user.organization"))
    @helper.inputText(objForm("title"), '_label -> Messages("user.title"))
    <div class="form-actions">
     <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
    </div>
   </fieldset>
  }
 </div>
 <div class="span6">
  <h1>@Messages("user.changepassword")</h1>
  @passForm.globalError.map { error =>
    <div class="alert alert-error">@Messages(error.message)</div>
  }
  @helper.form(action = controllers.routes.User.updatePassword(id)) {
   <fieldset>
    @helper.inputPassword(passForm("password"), '_label -> Messages("user.password"))
    @helper.inputPassword(passForm("password2"), '_label -> Messages("user.password.confirm"))
   </fieldset>
   <div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
   </div>
  }
 </div>
}