@(ps: models.PermissionScheme, perm: models.Permission, userForm: Form[controllers.admin.AddedPermissionSchemeUser])(implicit request: AuthenticatedRequest)

@import helper._
@import helper.bootstrap.bootstrapField

@helper.form(action = controllers.admin.routes.PermissionScheme.addUser(ps.id.get), 'id -> "add-group-form") {
<div class="modal-header">
 <button type="button" class="close" data-dismiss="modal">×</button>
 <h3>@Messages("admin.permission_scheme.user.add")</h3>
</div>
<div class="modal-body">
 @Messages("admin.permission_scheme.user.add.help")
 <fieldset>
  <input type="hidden" name="permission_id" value="@perm.name"/>
  @helper.inputText(field = userForm("username"), args = '_label -> Messages(perm.name), 'class -> "typeahead", 'autocomplete -> "off")
 </fieldset>
</div>
<div class="modal-footer">
 <a href="#" class="btn" data-dismiss="modal">@Messages("form.cancel")</a>
 <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("ticket.linker.confirm")</button>
</div>
<script>
$('.typeahead').typeahead({ source:
  function(query, process) {
    $.getJSON("/api/user/startswith?q=" + query)
    .done(function(data) {
      var users = $.map(data, function(u) { return u.username })
      return process(users);
    });
  }
});
</script>
}
