@(id: Long, objForm: Form[(PermissionScheme)])(implicit request: Request[AnyContent])

@import helper._
@import helper.bootstrap._

@main(Messages("admin.permission_scheme.edit")) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.PermissionScheme.index()">@Messages("admin.permission_scheme.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@Messages("admin.permission_scheme.with.id", "XXX")</li>
</ul>
<h1>@Messages("admin.permission_scheme.edit")</h1>
@helper.form(action = controllers.admin.routes.PermissionScheme.update(id)) {
 <fieldset>
  @helper.inputText(objForm("name"), '_label -> Messages("permission_scheme.name"))
  <div class="form-actions">
   <a href="@controllers.admin.routes.PermissionScheme.index()" class="btn"><i class="icon-remove"></i> @Messages("form.cancel")</a>
   <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> @Messages("form.submit")</button>
  </div>
 </fieldset>
}
}