@(ps: models.PermissionScheme, perms: List[models.Permission], permGroups: Map[String,List[PermissionSchemeGroup]], permUsers: Map[String,List[PermissionSchemeUser]])(implicit request: AuthenticatedRequest)
@main(Messages("admin.permission_scheme.with.id", ps.name)) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.PermissionScheme.index()">@Messages("admin.permission_scheme.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@Messages(ps.name)</li>
</ul>
<table id="perm-table" class="table table-bordered table-striped">
 <thead>
  <tr>
   <th>@Messages("admin.permission")</th>
   <th>@Messages("admin.permission_scheme.groups")</th>
   <th>@Messages("admin.permission_scheme.users")</th>
  </tr>
 </thead>
 <tbody>
  @perms.map { perm =>
  <tr>
   <td><strong>@Messages(perm.name)</strong><p><small>@Messages(perm.name + "_DESC")</small></p></td>
   <td>
    <ul>
    @permGroups.get(perm.name).map { groups =>
      @groups.map { group =>
       <li><a href="@controllers.admin.routes.Group.item(group.groupId)">@group.groupName</a></li>
      }
    }
    </ul>
   </td>
   <td>
    <ul>
    @permUsers.get(perm.name).map { users =>
      @users.map { user =>
       <li><a href="@controllers.admin.routes.User.item(user.userId)">@user.username</a></li>
      }
    }
    </ul>
   </td>
  </tr>
  }
 </tbody>
</table>
<script>
YUI().use('panel', function (Y) {
  // XXX FIX ME
  Y.one("#group-users").get('parentNode').delegate('click', function(e) {
    var nestedPanel = new Y.Panel({
      headerContent: 'Header',
      bodyContent: 'Are you sure you want to remove all items?',
      width      : 400,
      zIndex     : 6,
      centered   : true,
      modal      : true,
      render     : '#nestedPanel',
      buttons: [
          {
              value  : 'Cancel',
              section: Y.WidgetStdMod.FOOTER,
              classNames: 'btn',
              action : function (e) {
                  e.preventDefault();
                  nestedPanel.hide();
              }
          },
          {
              value  : 'Submit',
              section: Y.WidgetStdMod.FOOTER,
              classNames: ['btn','btn-primary'],
              action : function (e) {
                  e.preventDefault();
                  nestedPanel.hide();
              }
          }
      ]
    });
  });
});
</script>
}