@(ps: models.PermissionScheme)(implicit request: AuthenticatedRequest)
@main(Messages("admin.permission_scheme.with.id", Messages(ps.name))) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.PermissionScheme.index()">@Messages("admin.permission_scheme.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@Messages(ps.name)</li>
</ul>
<table id="perm-table" class="table table-bordered table-striped">
 <thead>
  <tr>
   <th>@Messages("admin.permission")</th>
   <th>@Messages("admin.permission_scheme.groups")</th>
   <th>@Messages("admin.permission_scheme.users")</th>
  </tr>
 </thead>
 <tbody data-bind="foreach: permissions()">
  <tr>
   <td><strong data-bind="text: nameI18N"></strong><p><small data-bind="text: descriptionI18N"></small></p></td>
   <td>
    <ul class="clearfix grid gridded-list" data-bind="foreach: groups()">
     <li><i class="user-remover remover icon-remove"></i> <a href="#" data-bind="text: groupName"></a></li>
    </ul>
    <a class="btn btn-mini clearfix" data-bind="click: addGroup">@Messages("admin.permission_scheme.group.add")</a>
   </td>
   <td>
    <ul class="clearfix grid gridded-list" data-bind="foreach: users()">
     <li><i class="user-remover remover icon-remove"></i> <a href="#" data-bind="text: username"></a></li>
    </ul>
    <a class="btn btn-mini clearfix" data-bind="click: addUser">@Messages("admin.permission_scheme.user.add")</a>
  </td>
  <tr>
 </tbody>
</table>
<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>
<script>
$(function(){
  var view = AdminPermissionSchemeViewModel(@ps.id.get);
  ko.applyBindings(view);
});
</script>
}