@(page: chc.Page[models.Group])(implicit request: Request[AnyContent])
@import util._
@main("admin.group.list") {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">/</span>
 </li>
 <li class="active">@Messages("admin.group.list")</li>
</ul>
<div class="btn-group btn-group-above-table pull-right">
 <a href="@controllers.admin.routes.Group.create" class="btn"><i class="icon-plus"></i> @Messages("admin.group.add")</a>
</div>
@Option(page.items).filterNot(_.isEmpty).map { groups =>
<h1>@Messages("admin.group.list")</h1>
<table class="table table-bordered table-rounded table-striped">
 <thead>
  <th>@Messages("group.name")</th>
  <th>@Messages("general.actions")</th>
 </thead>
 <tbody>
  @groups.map { group =>
  <tr>
   <td><a href="@controllers.admin.routes.Group.item(group.id.get)">@group.name</a></td>
   <td>
    <div class="btn-toolbar">
     <div class="btn-group">
      <a class="btn btn-mini" href="@controllers.admin.routes.Group.edit(group.id.get)">@Messages("general.edit")</a>
     </div>
     <div class="btn-group">
       <button class="btn btn-danger btn-mini">@Messages("general.disable") XXX</button>
       <button class="btn btn-danger btn-mini dropdown-toggle" data-toggle="dropdown">
         <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
        <li>@Messages("general.delete")</li>
       </ul>
     </div>
    </div>
   </td>
  </tr>
  }
 </tbody>
 <tfoot>
  <tr>
   <td colspan="4">
     @pager(page)
    </td>
   </tr>
 </tfoot
</table>
}
}