@(group: models.Group)(implicit request: AuthenticatedRequest)
@main(Messages("admin.group.with.id", group.name)) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.Group.index()">@Messages("admin.group.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@group.name</li>
</ul>
<form data-bind="submit: addUser">
 <div class="control-group">
  <label class="control-label" for="ac-input">@Messages("admin.group.add.user")</label>
  <div class="controls">
   <input id="userInput" type="text" class="typeahead"></label>
  </div>
 </div>
</form>
<h2>@Messages("admin.group.members")</h2>
<div>
 <ul class="grid gridded-list" data-bind="foreach: users()">
  <li style="min-width: 12em;"><i class="remover icon-remove" data-bind="click: removeUser"></i> <span data-bind="text: username()"></span> (<span data-bind="text: realNameI18N"></span>)</li>
 </ul>
</div>
<script>
$(function(){
  var view = GroupViewModel(@group.id.get);
  ko.applyBindings(view);

  $('.typeahead').typeahead({ source:
    function(query, process) {
      $.getJSON("/api/user/startswith?q=" + query)
      .done(function(data) {
        var users = $.map(data, function(u) { return u.username })
        return process(users);
      });
    }
  });
});
</script>
}