@(group: models.Group, userGroups: List[GroupUser])(implicit request: Request[AnyContent])
@main(Messages("admin.group.with.id", group.name)) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.Group.index()">@Messages("admin.group.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@group.name</li>
</ul>
<h2>@Messages("admin.group.members")</h2>
<input type="text" id="ac-input">
<ul id="userGroups">
@userGroups.map { userGroup =>
  <li>@userGroup</li>
}
</ul>
<script type="text/javascript">
YUI().use('autocomplete', 'autocomplete-highlighters', function (Y) {
  Y.one('#ac-input').plug(Y.Plugin.AutoComplete, {
    resultHighlighter: 'startsWith',
    resultTextLocator: function (result) {
      return result.username + ' (' + result.real_name + ')';
    },
    source: '/api/user/startswith?q={query}&callback={callback}'
  });
});
YUI().use('node', 'model', 'model-list', 'gallery-model-sync-rest', function (Y) {
  UserGroupModel = Y.Base.create('UserGroup', Y.Model, [ Y.ModelSync.REST ],
    {
      url : '/admin/user/{id}/group/@group.id'
    }
  );

  Y.all('#userGroups input[type=checkbox]').on('change', function(e) {
    var model = new UserGroupModel({ id: @group.id });
    if ( e.target.get('checked') ) {
      model.save();
    } else {
      model.destroy({ 'delete' : true });
    }
  });
});
</script>
}