@(group: models.Group, userGroups: List[GroupUser])(implicit request: Request[AnyContent])
@main(Messages("admin.group.with.id", group.name)) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("general.admin")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li>
  <a href="@controllers.admin.routes.Group.index()">@Messages("admin.group.list")</a> <span class="divider">@Messages("breadcrumb.divider")</span>
 </li>
 <li class="active">@group.name</li>
</ul>
<h2>@Messages("admin.group.members")</h2>
<form id="add-user">
 <input type="text" id="ac-input">
</form>
XXX NEED REMOVAL AND STYLE
<div id="user-list">
 <ul id="userGroups">
 @userGroups.map { userGroup =>
  <li>@userGroup.username (@userGroup.realName)</li>
 }
</div>
</ul>
<script type="text/javascript">

YUI().use('emperor-models', 'pjax', 'autocomplete', 'autocomplete-highlighters', function (Y) {

  var acNode = Y.one('#ac-input');
  acNode.plug(Y.Plugin.AutoComplete, {
    resultHighlighter: 'startsWith',
    resultTextLocator: function (result) {
      return result.username // + ' (' + result.real_name + ')';
    },
    source: '/api/user/startswith?q={query}&callback={callback}'
  });
  acNode.ac.on('select', function (e) {
    var model = new Y.UserGroupModel({ id: @group.id, user_id: e.result.raw.id });
    model.save();
    Y.ShowAlert('alert-success', '@Messages("admin.group.add.user.success")');
    var pjax = new Y.Pjax({
      container: '#user-list',
      contentSelector: '#user-list'
    });
    pjax.navigate('@controllers.admin.routes.Group.item(group.id.get)');
    acNode.set('value', '');
  });
});
</script>
}