@(timeline: chc.Page[org.elasticsearch.search.SearchHit], projects: List[Project])(implicit request: Request[AnyContent])

@import chc._
@import util._

@main(Messages("general.home")) {
<div class="row-fluid">
 <div class="span8">
  <div class="page-header">
   <h1>@Messages("general.timeline")</h1>
  </div>
   @if(timeline.items.isEmpty) {
   <p>@Messages("general.timeline.empty")</p>
   } else {
   <ul class="unstyled events">
   @timeline.items.map { event =>
    <li>
      <i class="@Messages("event.action.icon." + event.field("etype").getValue)"></i> @Messages("event.action", event.field("user_realname").getValue, Messages("event.action." + event.field("etype").getValue)) <a href="@controllers.routes.Ticket.item(event.field("ekey").getValue.toString)">@event.field("ekey").getValue</a>
      <blockquote>@event.field("content").getValue</blockquote>
      <div class="attr">@Messages("ticket.comment.attribution.prefix") <b>@event.field("user_realname").getValue.toString</b> @Messages("ticket.comment.attribution.postfix", event.field("date_created").getValue.toString)</div>
    </li>
   }
   </ul>
   }
 </div>
 <div class="span4">
  <div class="page-header">
   <h1>@Messages("general.projects")</h1>
  </div>
  @if(projects.isEmpty) {
  <p>@Messages("general.projects.empty") <a href="@controllers.routes.Project.create">@Messages("general.projects.add")</a></p>
  } else {
  <ul>
  @projects.map { project =>
   <li><a href="@controllers.routes.Project.item(project.id.get)">@project.name</a></li>
  }
  </ul>
  }
 </div>
</div>
}
